@{
    ViewBag.Title = "О журнале";
}

<h1 style="border-bottom: solid red">О журнале</h1>
<div class="color_block">
    <em class="bt"><b>&nbsp;</b></em>
    <div class="block_content">
        <p>
            Научный рецензируемый журнал «Вестник МГТУ «СТАНКИН» выпускается ФГБОУ ВО «МГТУ «СТАНКИН» с 2008 года. 
            Постановлением Президиума ВАК Минобрнауки РФ с 2015 года включен в Перечень рецензируемых научных изданий,
            в которых должны быть опубликованы основные научные результаты диссертаций на соискание ученой степени кандидата наук, 
            на соискание ученой степени доктора наук. <b>С актуальным Перечнем рецензируемых научных изданий ВАК по состоянию на
            08.02.2023</b> можно ознакомиться, перейдя по <a href="https://vak.minobrnauki.gov.ru/uploader/loader?type=19&name=91107547002&f=16105">ссылке</a>.
        </p><br />
        <p>
            В журнале «Вестник МГТУ «СТАНКИН» публикуются результаты научных исследований, 
            характеризующие современное состояние, тенденции развития и технические решения в областях автоматизации и 
            управления технологическими процессами и производствами, технологии машиностроения, создания оборудования 
            механической и физико-технической обработки, технологии и машин обработки давлением, мехатроники и робототехники, 
            направленные на модернизацию экономики страны, создание новых поколений техники и технологий.
        </p><br />
        <p>
            Вы можете опубликовать в нашем журнале результаты своих исследований в перечисленных областях знаний, 
            а также ознакомиться с научными и практическими достижениями российских и зарубежных ученых, запросив 
            статью из электронного архива номеров на сайте издания. Вы получите полный текст любой статьи журнала,
            перейдя по <a href="">ссылке</a>:
        </p><br />
        <p>
            Журнал «Вестник МГТУ «СТАНКИН» включает в себя разделы, в которых публикуются оригинальные 
            научно-технические статьи по следующим специальностям:<br />
            <b>
                2.5.4 – Роботы, мехатроника и робототехнические системы (технические науки);<br />
                2.5.5 – Технология и оборудование механической и физико-технической обработки (технические науки);<br />
                2.5.6 – Технология машиностроения (технические науки);<br />
                2.5.7 – Технологии и машины обработки давлением (технические науки);<br />
                2.3.3 – Автоматизация и управление технологическими процессами и производствами (технические науки).<br />
            </b>
            
        </p>
    </div>
    <em class="bb"><b>&nbsp;</b></em>
</div>