@{
    ViewBag.Title = "Контактная информация";
}

<h1 style="border-bottom: solid red">Контактная информация</h1>
<div class="color_block">
    <em class="bt"><b>&nbsp;</b></em>
    <div class="block_content">
        <p>
            <b>Адрес редакции:</b> 127994, Москва, Вадковский пер., д. 1, ФГБОУ ВО «МГТУ «СТАНКИН», к. 0618, 
            редакция журнала «Вестник МГТУ «СТАНКИН».
        </p><br />
        <p>
            <b>Электронная почта для приема материалов:</b> vestnik@stankin.ru, orni.stankin@mail.ru
        </p>
    </div>
    <em class="bb"><b>&nbsp;</b></em>
</div>