@{
    ViewBag.Title = "Требования к публикуемым статьям и их оформлению";
}

<h1 style="border-bottom: solid red">Требования к публикуемым статьям и их оформлению</h1>
<div class="color_block">
    <em class="bt"><b>&nbsp;</b></em>
    <div class="block_content">
        <p>
            В научном рецензируемом журнале «Вестник МГТУ «СТАНКИН» публикуются оригинальные научно-технические 
            статьи по следующим специальностям:<br />
            <b>
                2.5.4 – Роботы, мехатроника и робототехнические системы (технические науки);<br />
                2.5.5 – Технология и оборудование механической и физико-технической обработки (технические науки);<br />
                2.5.6 – Технология машиностроения (технические науки);<br />
                2.5.7 – Технологии и машины обработки давлением (технические науки);<br />
                2.3.3 – Автоматизация и управление технологическими процессами и производствами (технические науки).<br />
                Авторы направляют в редакцию 
            </b>
            следующий комплект материалов:
        </p><br />
        <p>
            1. Рукопись статьи (в электронном виде по e-mail и в бумажном варианте), оформленную в соответствии с <a style="color: red;" href="http://stankin-journal.ru/sites/default/files/attached_files/%D0%A2%D1%80%D0%B5%D0%B1%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F%20%D0%92%D0%B5%D1%81%D1%82%D0%BD%D0%B8%D0%BA%20%281%29%20%281%29.pdf">
                техническими требованиями
            </a>
            , с приложением иллюстративных материалов (<a style="color: red;" href="http://stankin-journal.ru/sites/default/files/attached_files/%D0%A2%D1%80%D0%B5%D0%B1%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F%20%D0%92%D0%B5%D1%81%D1%82%D0%BD%D0%B8%D0%BA%20%281%29%20%281%29.pdf">
                требования к рисункам и формулам
            </a>) 
            в виде отдельных файлов. В бумажном варианте рукопись должна быть подписана всеми авторами, с расшифровкой 
            подписей и указанием даты подписания внизу на первой странице. В начале рукописи необходимо обязательно 
            указать информацию об авторах на русском и английском языках, а именно ФИО авторов, ученую степень, должность, 
            место работы, электронную почту для связи. Также, помимо библиографического списка на русском языке, необходимо 
            указать его английский вариант<br />
            2. <a style="color: red;" href="~/files/ЗАЯВКА.docx">Заявку</a> на размещение статьи в журнале «Вестник МГТУ «СТАНКИН», подписанную всеми авторами статьи
            (в электронном виде и в бумажном варианте). Указание шифра научной специальности обязательно. 
            Сторонним авторам необходимо прислать также сопроводительное письмо в адрес Редакционного совета 
            научного рецензируемого журнала «Вестник МГТУ «СТАНКИН» с просьбой опубликовать материал. Аспиранты 
            публикуются в соавторстве с научным руководителем<br />
            3. <b>Экспертное заключение</b>, подтверждающее возможность открытого опубликования материалов, 
            заверенное печатью образовательного учреждения, с подписями экспертов и датой выдачи. Авторам ФГБОУ
            ВО «МГТУ «СТАНКИН» для получения Экспертного заключения необходимо обратиться в Научно-исследовательскую 
            часть (НИЧ), пом. 0621<br />
            4. <b>Справку-отчет</b> о результатах проверки статьи на наличие заимствований из системы 
            «Антиплагиат» с указанием даты проверки и подписью автора<br />
            Решение о публикации статьи принимает Редакционный совет научного рецензируемого журнала 
            «Вестник МГТУ «СТАНКИН». Вопросы по размещению и оформлению материалов, экспертного 
            заключения для открытого опубликования, и другие вопросы принимаются на электронные адреса 
            vestnik@stankin.ru, orni.stankin@mail.ru
        </p><br />
        <p>
            Подавая статью в редакцию, авторы соглашаются с положениями <a style="color: red;" href="http://www.stankin-journal.ru/sites/default/files/attached_files/%D0%90%D0%B2%D1%82%D0%BE%D1%80%D1%81%D0%BA%D0%B8%D0%B9%20%D0%94%D0%BE%D0%B3%D0%BE%D0%B2%D0%BE%D1%80%20%28%D0%BF%D1%83%D0%B1%D0%BB%D0%B8%D1%87%D0%BD%D0%B0%D1%8F%20%D0%BE%D1%84%D0%B5%D1%80%D1%82%D0%B0%29%20%D0%BD%D0%B0%20%D1%80%D0%B0%D0%B7%D0%BC%D0%B5%D1%89%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%B0%D0%B2%D1%82%D0%BE%D1%80%D1%81%D0%BA%D0%B8%D1%85%20%D0%BC%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%D0%BE%D0%B2%20%D0%B2%20%D0%BD%D0%B0%D1%83%D1%87%D0%BD%D0%BE%D0%BC%20%D0%B6%D1%83%D1%80%D0%BD%D0%B0%D0%BB%D0%B5%20%D0%92%D0%B5%D1%81%D1%82%D0%BD%D0%B8%D0%BA%20%D0%9C%D0%93%D0%A2%D0%A3%20%D0%A1%D0%A2%D0%90%D0%9D%D0%9A%D0%98%D0%9D.pdf">Авторского договора</a> 
            (публичной оферты) и
            гарантируют, что представленная ими статья не была нигде ранее опубликована и является оригинальным 
            произведением, на которое они имеют исключительные авторские права.<br />

            Рукопись статьи, файлы иллюстративных материалов и заявку в электронной форме авторы могут отправить 
            по электронной почте на адреса: vestnik@stankin.ru, orni.stankin@mail.ru.<br />

            Оригиналы всех необходимых документов (<b>в бумажном варианте</b>) направляются в конверте по Почте
            России на адрес: 127994, г. Москва, Вадковский переулок, д. 1, ФГБОУ ВО «МГТУ «СТАНКИН», к. 
            0618, редакция журнала «Вестник МГТУ «СТАНКИН».<br />
        </p>
        <p>
            Требования к оформлению библиографического списка можно скачать здесь, кликнув по ссылке:<br />

            <a style ="color: red;" href="https://protect.gost.ru/v.aspx?control=7&id=173511">
                ГОСТ Р 7.0.5-2008. Система стандартов по информации, библиотечному и издательскому делу. Библиографическая ссылка.
            Общие требования и правила составления</a><br />
        </p>
    </div>
    <em class="bb"><b>&nbsp;</b></em>
</div>