@model ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
}
<div class="wrapper2">
    <div class="color_block form">
        <em class="bt"><b>&nbsp;</b></em>
            <div class="block_content" >
                <h2>Изменение пароля для пользователя @Context.User.Identity.Name</h2>
                <form asp-action="ChangePassword" asp-controller="Account" method="post">
                    <div asp-validation-summary="ModelOnly"></div>

                    <input type="hidden" asp-for="UserName" value="@Context.User.Identity.Name" />
                    <div >
                        <label asp-for="OldPassword" ></label><br />
                        <input asp-for="OldPassword" autocomplete="off" /><br />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div >
                        <label asp-for="NewPassword" ></label><br />
                        <input asp-for="NewPassword" autocomplete="off"/><br />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div >
                        <label asp-for="ConfirmPassword" ></label><br />
                        <input asp-for="ConfirmPassword" autocomplete="off"/><br />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <br />
                    <div >
                        <input type="submit" value="Сохранить" />
                    </div>
                </form>
            </div>
        <em class="bb"><b>&nbsp;</b></em>
    </div>
</div>

