<div class="container">
    <p>
        Учредитель журнала - 
        ФГБОУ ВПО Московский государственный технологический университет "СТАНКИН"<br />

        Свидетельство о регистрации ПИ № ФС77-31574 от 4 апреля 2008 г. выдано Федеральной службой по надзору за соблюдением законодательства в сфере массовых коммуникаций и охране культурного наследия<br />

        127055, г. Москва, Вадковский пер., д.1<br />

        Тел.: (499) 972-95-30,<br />
        e-mail: vestnik@stankin.ru<br />

        ISSN 2072-3172
    </p>
</div>